@import 'compass';

// Variables

$red: #f00;
$blue: #00f;
$black: #000;
$grey: #999;
$white: #fff;

// Mixins & Placeholders

%btn-action {
  color: $white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 30px;
  line-height: normal;
}

%btn-action-enabled {
  @extend %btn-action;
  cursor: pointer;
  pointer-events: auto;

  &:hover, &:focus {
    color: $blue;
  }
}

%btn-action-disabled {
  @extend %btn-action;
  cursor: default;
  pointer-events: none;
  color: $grey;

  &:hover, &:focus {
    color: $grey;
  }
}

@mixin overlay($z-index) {
  z-index: $z-index;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

%overlay-base {
  @include overlay(3020);
  background-color: rgba($grey, .3);
}

%overlay-error {
  @include overlay(3010);
  @include background-image(radial-gradient(center center, circle cover, rgba(darken($red, 20), 0.6) 0%, rgba($black, 0.3) 85%, rgba($black, 0.3) 100%));
}

%show {
  @include opacity(1);
}

%hide {
  @include opacity(0);
}

// Styles

.wrapper {

  &:before {
    @extend %overlay-base;
  }

  &.is-error-screen {

    &:after {
      @extend %overlay-error;
    }
  }
}

.content {

  &.error {

    &:before {
      @extend %overlay-base;
    }

    &:after {
      @extend %overlay-error;
    }

  }

  &.is-validating .btn-submit {
    @extend %btn-action-disabled;
  }

  &.has-errors .btn-submit {
    @extend %btn-action-disabled;
  }

  &.is-successful .btn-submit {
    @extend %btn-action-enabled;
  }
}

.btn-action {
  display: inline-block;
  text-decoration: none;
  @extend %btn-action-disabled;

  .is-successful & {
    @extend %btn-action-enabled;
  }
}

.input-icon-error {
  color: $red;
  @extend %hide;
  @include single-transition(opacity, 0.2s, ease-out, 0s);
}

.input-icon-error {

  .has-errors & {
    @extend %show;
  }

  .has-first-field-error & {
    @extend %show;

    + .input-icon-error {
      @extend %hide;
    }
  }

  .has-second-field-error & {
    @extend %show;

    + .input-icon-error {
      @extend %show;
    }
  }

  &:nth-of-type(1) {
    .has-second-field-error & {
      @extend %hide;
    }
  }
}