/* line 56, ../sass/styles.scss */
.wrapper:before {
  z-index: 3020;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(153, 153, 153, 0.3);
}
/* line 62, ../sass/styles.scss */
.wrapper.is-error-screen:after {
  z-index: 3010;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -moz-radial-gradient(center center, circle cover, rgba(153, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 85%, rgba(0, 0, 0, 0.3) 100%);
  background-image: -webkit-radial-gradient(center center, circle cover, rgba(153, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 85%, rgba(0, 0, 0, 0.3) 100%);
  background-image: radial-gradient(center center, circle cover, rgba(153, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 85%, rgba(0, 0, 0, 0.3) 100%);
}

/* line 79, ../sass/styles.scss */
.content.error:before {
  z-index: 3020;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(153, 153, 153, 0.3);
}
/* line 83, ../sass/styles.scss */
.content.error:after {
  z-index: 3010;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -moz-radial-gradient(center center, circle cover, rgba(153, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 85%, rgba(0, 0, 0, 0.3) 100%);
  background-image: -webkit-radial-gradient(center center, circle cover, rgba(153, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 85%, rgba(0, 0, 0, 0.3) 100%);
  background-image: radial-gradient(center center, circle cover, rgba(153, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 85%, rgba(0, 0, 0, 0.3) 100%);
}
/* line 96, ../sass/styles.scss */
.content.is-validating .btn-submit {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 30px;
  line-height: normal;
  cursor: default;
  pointer-events: none;
  color: #999999;
}
/* line 36, ../sass/styles.scss */
.content.is-validating .btn-submit:hover, .content.is-validating .btn-submit:focus {
  color: #999999;
}
/* line 100, ../sass/styles.scss */
.content.has-errors .btn-submit {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 30px;
  line-height: normal;
  cursor: default;
  pointer-events: none;
  color: #999999;
}
/* line 36, ../sass/styles.scss */
.content.has-errors .btn-submit:hover, .content.has-errors .btn-submit:focus {
  color: #999999;
}
/* line 104, ../sass/styles.scss */
.content.is-successful .btn-submit {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 30px;
  line-height: normal;
  cursor: pointer;
  pointer-events: auto;
}
/* line 25, ../sass/styles.scss */
.content.is-successful .btn-submit:hover, .content.is-successful .btn-submit:focus {
  color: blue;
}

/* line 109, ../sass/styles.scss */
.btn-action {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 30px;
  line-height: normal;
  cursor: default;
  pointer-events: none;
  color: #999999;
}
/* line 36, ../sass/styles.scss */
.btn-action:hover, .btn-action:focus {
  color: #999999;
}
/* line 114, ../sass/styles.scss */
.is-successful .btn-action {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 30px;
  line-height: normal;
  cursor: pointer;
  pointer-events: auto;
}
/* line 25, ../sass/styles.scss */
.is-successful .btn-action:hover, .is-successful .btn-action:focus {
  color: blue;
}

/* line 119, ../sass/styles.scss */
.input-icon-error {
  color: red;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: opacity 0.2s ease-out 0s;
  -o-transition: opacity 0.2s ease-out 0s;
  -webkit-transition: opacity 0.2s ease-out;
  -webkit-transition-delay: 0s;
  transition: opacity 0.2s ease-out 0s;
}
/* line 124, ../sass/styles.scss */
.has-errors .input-icon-error {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: opacity 0.2s ease-out 0s;
  -o-transition: opacity 0.2s ease-out 0s;
  -webkit-transition: opacity 0.2s ease-out;
  -webkit-transition-delay: 0s;
  transition: opacity 0.2s ease-out 0s;
}
/* line 129, ../sass/styles.scss */
.has-first-field-error .input-icon-error {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: opacity 0.2s ease-out 0s;
  -o-transition: opacity 0.2s ease-out 0s;
  -webkit-transition: opacity 0.2s ease-out;
  -webkit-transition-delay: 0s;
  transition: opacity 0.2s ease-out 0s;
}
/* line 133, ../sass/styles.scss */
.has-first-field-error .input-icon-error + .input-icon-error {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: opacity 0.2s ease-out 0s;
  -o-transition: opacity 0.2s ease-out 0s;
  -webkit-transition: opacity 0.2s ease-out;
  -webkit-transition-delay: 0s;
  transition: opacity 0.2s ease-out 0s;
}
/* line 139, ../sass/styles.scss */
.has-second-field-error .input-icon-error {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: opacity 0.2s ease-out 0s;
  -o-transition: opacity 0.2s ease-out 0s;
  -webkit-transition: opacity 0.2s ease-out;
  -webkit-transition-delay: 0s;
  transition: opacity 0.2s ease-out 0s;
}
/* line 143, ../sass/styles.scss */
.has-second-field-error .input-icon-error + .input-icon-error {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: opacity 0.2s ease-out 0s;
  -o-transition: opacity 0.2s ease-out 0s;
  -webkit-transition: opacity 0.2s ease-out;
  -webkit-transition-delay: 0s;
  transition: opacity 0.2s ease-out 0s;
}
/* line 150, ../sass/styles.scss */
.has-second-field-error .input-icon-error:nth-of-type(1) {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
